.user-management-container {
  margin-top: 1rem;
}

.user-management-container table {
  width: 100%;
  border-collapse: collapse;
}

.user-management-container th,
.user-management-container td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--cinzaMedio);
}

.role-badge {
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  color: var(--branco);
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.role-badge.admin {
  background-color: var(--vermelhoSenai);
}

.role-badge.user {
  background-color: #6c757d; /* Cinza */
}
